@media (min-width: 5px) and (max-width: 756px) {
  .nav {
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 50px;
    background-color: white;
    padding-top: 13px;
    box-shadow: 0px -2px 5px 1px;
    z-index: 99999 !important;
  }
  
  .nav-left {
    display: flex;
    position: relative;
    align-items: center;
  }
  
  
  
  .nav-left > a {
    margin-left: 15px;
    padding-left: 15px;
    cursor: pointer;
  }
  
  .nav-left > a:hover {
    color: #1b5cca;
  }
  
  .nav-right {
    margin-right: 15px;
  }
  
  .nav-right > .MuiSvgIcon-root {
    margin-right: 15px;
    cursor: pointer;
  }
  
  .nav-right > .MuiSvgIcon-root:hover {
    color: #1b5cca;
  }
  
  .nav-logo {
    display: flex;
    align-items: center;
  }
  .nav-logo > img {
    height: 50px;
    margin-left: 20px;
    display: none;
  }
}




@media (min-width: 756px) and (max-width: 9999px) {
.nav {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding-top: 13px;
  box-shadow: 0px -2px 5px 1px;
  z-index: 1;
}

.nav-left {
  display: flex;
  position: relative;
  align-items: center;
}



.nav-left > a {
  margin-left: 15px;
  padding-left: 15px;
  cursor: pointer;
}

.nav-left > a:hover {
  color: #1b5cca;
}

.nav-right {
  margin-right: 15px;
}

.nav-right > .MuiSvgIcon-root {
  margin-right: 15px;
  cursor: pointer;
}

.nav-right > .MuiSvgIcon-root:hover {
  color: #1b5cca;
}

.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo > img {
  height: 50px;
  margin-left: 20px;
}
}