@media (min-width: 5px) and (max-width: 724px) {
  .partners {
    background-color: #ebedee;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    height: 200px;
  
  }
  
  .partners-top > p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    padding-top: 25px;
  }
  
  .partners-logo > img {
    max-height: 40px;
    margin: 5px 3%;
    padding-top: 30px;
    padding-bottom: 50px;
    opacity: 0.6;
    transition: 0.35s ease-in-out;
  }
  
  .partners-logo > img:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .partners-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}





@media (min-width: 724px) and (max-width: 1114px) {
  .partners {
    background-color: #ebedee;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    height: 300px;
  
  }
  
  .partners-top > p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    padding-top: 25px;
  }
  
  .partners-logo > img {
    max-height: 50px;
    margin: 5px 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 0.6;
    transition: 0.35s ease-in-out;
  }
  
  .partners-logo > img:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .partners-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  }

















@media (min-width: 1114px) and (max-width: 9999px) {
.partners {
  background-color: #ebedee;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  height: 300px;

}

.partners-top > p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 300;
  padding-top: 25px;
}

.partners-logo > img {
  max-height: 80px;
  margin: 5px 5%;
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: 0.6;
  transition: 0.35s ease-in-out;
}

.partners-logo > img:hover {
  opacity: 1;
  cursor: pointer;
}

.partners-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

}